<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Tool</title>
  </head>
  <body>

    <div class="p-3" id="app_odds">

      <div class="table-responsive">
        <div class="mw-1300 py-3">
        
          <div class="dntable-filter d-sm-flex align-items-center mb-3">
            <div class="me-3 mb-2">
              <span>Thời gian đá:</span>
              <select name="" id="" v-on:change="app_filter_date($event.target.value)">
                <option v-bind:value="label_date.filter_date" v-for="label_date in label_dates">{{ label_date.label }}</option>
              </select>
            </div>

            <div class="me-3 mb-2">
              <span>Thời gian biến động kèo:</span>
              <select name="" id="">
                <option value="">3h</option>
                <option value="">6h</option>
                <option value="">12h</option>
                <option value="">1 Ngày</option>
                <option value="">2 Ngày</option>
                <option value="">3 Ngày</option>
              </select>
            </div>

            <div class="me-3 mb-2">
              <span>Biến động Handicap:</span>
              <select name="" id="" v-on:change="app_filter_handicap($event.target.value)">
                <option value="">0</option>
                <option value="0.25">0.25</option>
                <option value="0.5">0.5</option>
                <option value="0.75">0.75</option>
                <option value="1">1</option>
              </select>
            </div>

            <div class="me-3 mb-2">
              <span>Biến động Tài / Xỉu :</span>
              <select name="" id="" v-on:change="app_filter_overunder($event.target.value)">
                <option value="">0</option>
                <option value="0.25">0.25</option>
                <option value="0.5">0.5</option>
                <option value="0.75">0.75</option>
                <option value="1">1</option>
              </select>
            </div>

            <div class="me-3 mb-2">
              <span>FT/HT:</span>
              <select name="" id="" v-on:change="app_filter_model($event.target.value)">
                <option value="">All</option>
                <option value="ft">FT</option>
                <option value="ht">HT</option>
              </select>
            </div>

            <div class="mb-2">
              <button type="submit" class="btn btn-primary px-5">Lọc</button>
            </div>

          </div>


          <table class="dntable-list table table-hover table-striped table-bordered align-middle ">

            <thead>
              <tr>
                <th class="th-time" rowspan="2">Time</th>
                <th class="th-timestart" rowspan="2">Thời gian<br>mở kèo</th>
                <th class="th-league" rowspan="2">League</th>
                <th class="th-match" rowspan="2">Match</th>
                <th class="th-result" rowspan="2">Kết quả</th>
                <th class="th-ftht" rowspan="2">FT/HT</th>
                <th class="th-handicap" colspan="7">Kèo Handicap</th>
                <th class="th-overunder" colspan="7">Over/Under</th>
                <th class="th-view" rowspan="2"></th>
              </tr>
              <tr>
                <th class="th-handicap-live">Kèo Live</th>
                <th class="th-handicap-odds-live">Odds Live</th>
                <th class="th-handicap-slot-open">Kèo Mở</th>
                <th class="th-handicap-odds-open">Odds Mở</th>
                <th class="th-handicap-bd-live">Biến động<br>kèo(Live)</th>
                <th class="th-handicap-odds-bd">Odds<br>biến động</th>
                <th class="th-handicap-tips">Tips</th>
                <th class="th-handicap-keo-live">Kèo Live</th>
                <th class="th-overunder-odds">Odds live</th>
                <th class="th-overunder-slot-open">Kèo mở</th>
                <th class="th-overunder-odds">Odds mở</th>
                <th class="th-overunder-bd-live">Biến động<br>Live</th>
                <th class="th-overunder-odds-bd">Odds<br>biến động</th>
                <th class="th-overunder-tip">Tips</th>
              </tr>
            </thead>
            <tbody class="tbody-loading" v-if="isRunning">
              <tr>
                <td colspan="21">
                  <div class="sc-loading d-flex justify-content-center p-5">
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody v-if="matches" v-for="(items, index) of matches">

              <tr v-for="item of items" 
                v-bind:matchId="item.matchId" 
                v-if="matches_odds && typeof matches_odds[item.matchId] != 'undefined' && checkShowMatch(item,matches_odds)"
                >
                <td class="td-time">{{ item.matchTime }}</td>
                <td class="td-timestart">Unknow</td>
                <td class="td-league">{{ leagues[index] }}</td>
                <td class="td-match">
                  <div>
                    <p class="home-team">{{ item.homeName }}</p>
                    <p class="away-team">{{ item.awayName }}</p>
                  </div>
                </td>
                <td>
                  <div class="tr__row">
                    <div class="tr__col">-</div>
                    <div class="tr__col">-</div>
                  </div>
                </td>
                <td>
                  <div class="tr__row">
                    <div class="tr__col">FT</div>
                    <div class="tr__col">HT</div>
                  </div>
                </td>
                <td v-if="matches_odds">
                  <div class="tr__row h-50">
                    <div class="tr__col el--down handicap.instantHandicap">
                      <span v-if="typeof matches_odds[item.matchId]['handicap'] != 'undefined'">
                        {{ matches_odds[item.matchId]['handicap']['instantHandicap'] }}
                      </span>
                    </div>
                    <div class="tr__col el--up handicap.instantHandicap">
                      <span v-if="typeof matches_odds[item.matchId]['handicap'] != 'undefined'">
                        {{ matches_odds[item.matchId]['handicap']['instantHandicapAway'] }}
                      </span>
                    </div>
                  </div>
                  <div class="tr__row h-50">
                    <div class="tr__col el--down handicapHalf.instantHandicap">
                      <span v-if="typeof matches_odds[item.matchId]['handicapHalf'] != 'undefined'">
                        {{ matches_odds[item.matchId]['handicapHalf']['instantHandicap'] }}
                      </span>
                    </div>
                    <div class="tr__col el--up handicapHalf.instantHandicap">
                      <span v-if="typeof matches_odds[item.matchId]['handicapHalf'] != 'undefined'">
                        {{ matches_odds[item.matchId]['handicapHalf']['instantHandicapAway'] }}
                      </span>
                    </div>
                  </div>
                </td>
                <td v-if="matches_odds">
                  <div class="tr__row h-50">
                    <div class="tr__col el--up handicap.instantHome">
                      {{ (typeof matches_odds[item.matchId]['handicap'] == 'undefined') ? '-' : matches_odds[item.matchId]['handicap']['instantHome'] }}
                    </div>
                    <div class="tr__col el--up handicap.instantAway">
                      {{ (typeof matches_odds[item.matchId]['handicap'] == 'undefined') ? '-' : matches_odds[item.matchId]['handicap']['instantAway'] }}
                    </div>
                  </div>
                  <div class="tr__row h-50">
                    <div class="tr__col el--up handicapHalf.instantHome">
                      {{ (typeof matches_odds[item.matchId]['handicapHalf'] == 'undefined') ? '-' : matches_odds[item.matchId]['handicapHalf']['instantHome'] }}
                    </div>
                    <div class="tr__col el--down handicapHalf.instantAway">
                      {{ (typeof matches_odds[item.matchId]['handicapHalf'] == 'undefined') ? '-' : matches_odds[item.matchId]['handicapHalf']['instantAway'] }}
                    </div>
                  </div>
                </td>
                <td v-if="matches_odds">
                  <div class="tr__row h-50">
                    <div class="tr__col el--down handicap.initialHandicap">
                      <span v-if="typeof matches_odds[item.matchId]['handicap'] != 'undefined'">
                      {{ matches_odds[item.matchId]['handicap']['initialHandicap'] }}
                      </span>
                    </div>
                    <div class="tr__col el--up handicap.initialHandicap">
                      <span v-if="typeof matches_odds[item.matchId]['handicap'] != 'undefined'">
                        {{ matches_odds[item.matchId]['handicap']['initialHandicapAway'] }}
                      </span>
                    </div>                    
                  </div>
                  <div class="tr__row h-50">
                    <div class="tr__col el--down handicapHalf.initialHandicap">
                      <span v-if="typeof matches_odds[item.matchId]['handicapHalf'] != 'undefined'">
                      {{ matches_odds[item.matchId]['handicapHalf']['initialHandicap'] }}
                      </span>
                    </div>
                    <div class="tr__col el--up handicapHalf.initialHandicap">
                      <span v-if="typeof matches_odds[item.matchId]['handicapHalf'] != 'undefined'">
                        {{ matches_odds[item.matchId]['handicapHalf']['initialHandicapAway'] }}
                      </span>
                    </div>
                    
                  </div>
                </td>
                <td v-if="matches_odds">
                  <div class="tr__row h-50">
                    <div class="tr__col el--down handicap.initialHome">
                      {{ (typeof matches_odds[item.matchId]['handicap'] == 'undefined') ? '-' : matches_odds[item.matchId]['handicap']['initialHome'] }}
                    </div>
                    <div class="tr__col el--up handicap.initialAway">
                      {{ (typeof matches_odds[item.matchId]['handicap'] == 'undefined') ? '-' : matches_odds[item.matchId]['handicap']['initialAway'] }}
                    </div>
                  </div>
                  <div class="tr__row h-50">
                    <div class="tr__col el--up handicapHalf.initialHome">
                      {{ (typeof matches_odds[item.matchId]['handicapHalf'] == 'undefined') ? '-' : matches_odds[item.matchId]['handicapHalf']['initialHome'] }}
                    </div>
                    <div class="tr__col el--down handicapHalf.initialAway">
                      {{ (typeof matches_odds[item.matchId]['handicapHalf'] == 'undefined') ? '-' : matches_odds[item.matchId]['handicapHalf']['initialAway'] }}
                    </div>
                  </div>
                </td>
                <td v-if="matches_odds">
                  <div class="tr__row h-50">
                    <div class="tr__col el--down handicap.initialHandicap-handicap.instantHandicap">
                      <span v-if="typeof matches_odds[item.matchId]['handicap'] != 'undefined'">
                          {{ matches_odds[item.matchId]['handicap']['fluctuatingHandicap'] }}
                          <i v-if="matches_odds[item.matchId]['handicap']['fluctuatingHandicapDown']"  class="icon-down"></i>
                          <i v-if="matches_odds[item.matchId]['handicap']['fluctuatingHandicapUp']"  class="icon-up"></i>
                      </span>
                    </div>
                    <div class="tr__col el--up handicap.initialHandicap.-handicap.instantHandicap">
                      <span v-if="typeof matches_odds[item.matchId]['handicap'] != 'undefined'">
                        {{ matches_odds[item.matchId]['handicap']['fluctuatingHandicap'] }}
                        <i v-if="matches_odds[item.matchId]['handicap']['fluctuatingHandicapDown']"  class="icon-up"></i>
                        <i v-if="matches_odds[item.matchId]['handicap']['fluctuatingHandicapUp']"  class="icon-down"></i>
                      </span>
                    </div>
                  </div>
                  <div class="tr__row h-50">
                    <div class="tr__col handicapHalf.initialHandicap-handicapHalf.instantHandicap">
                      <span v-if="typeof matches_odds[item.matchId]['handicapHalf'] != 'undefined'">
                        {{ matches_odds[item.matchId]['handicapHalf']['fluctuatingHandicap'] }}
                        <i v-if="matches_odds[item.matchId]['handicapHalf']['fluctuatingHandicapDown']"  class="icon-down"></i>
                        <i v-if="matches_odds[item.matchId]['handicapHalf']['fluctuatingHandicapUp']"  class="icon-up"></i>
                      </span>
                    </div>
                    <div class="tr__col handicapHalf.initialHandicap-handicapHalf.instantHandicap">
                      <span v-if="typeof matches_odds[item.matchId]['handicapHalf'] != 'undefined'">
                        {{ matches_odds[item.matchId]['handicapHalf']['fluctuatingHandicap'] }}
                        <i v-if="matches_odds[item.matchId]['handicapHalf']['fluctuatingHandicapDown']"  class="icon-up"></i>
                        <i v-if="matches_odds[item.matchId]['handicapHalf']['fluctuatingHandicapUp']"  class="icon-down"></i>
                      </span>
                    </div>
                  </div>
                </td>
                <td v-if="matches_odds">
                  <div class="tr__row h-50">
                    <div class="tr__col el--down handicap.initialHome-handicap.instantHome">
                      <span v-if="typeof matches_odds[item.matchId]['handicap'] != 'undefined'">
                        {{ matches_odds[item.matchId]['handicap']['fluctuatingHome'] }}
                        <i v-if="matches_odds[item.matchId]['handicap']['fluctuatingHomeDown']"  class="icon-down"></i>
                        <i v-if="matches_odds[item.matchId]['handicap']['fluctuatingHomeUp']"  class="icon-up"></i>
                      </span>
                    </div>
                    <div class="tr__col el--up handicap.initialAway-handicap.instantAway">
                      <span v-if="typeof matches_odds[item.matchId]['handicap'] != 'undefined'">
                        {{ matches_odds[item.matchId]['handicap']['fluctuatingAway'] }}
                        <i v-if="matches_odds[item.matchId]['handicap']['fluctuatingAwayDown']"  class="icon-down"></i>
                        <i v-if="matches_odds[item.matchId]['handicap']['fluctuatingAwayUp']"  class="icon-up"></i>
                      </span>
                    </div>
                  </div>
                  <div class="tr__row h-50">
                    <div class="tr__col el--down handicapHalf.initialHome-handicapHalf.instantHome">
                      <span v-if="typeof matches_odds[item.matchId]['handicapHalf'] != 'undefined'">
                        {{ matches_odds[item.matchId]['handicapHalf']['fluctuatingHome'] }}
                        <i v-if="matches_odds[item.matchId]['handicapHalf']['fluctuatingHomeDown']"  class="icon-down"></i>
                        <i v-if="matches_odds[item.matchId]['handicapHalf']['fluctuatingHomeUp']"  class="icon-up"></i>
                      </span>
                    </div>
                    <div class="tr__col el--up handicapHalf.initialAway-handicapHalf.instantAway">
                      <span v-if="typeof matches_odds[item.matchId]['handicapHalf'] != 'undefined'">
                        {{ matches_odds[item.matchId]['handicapHalf']['fluctuatingAway'] }}
                        <i v-if="matches_odds[item.matchId]['handicapHalf']['fluctuatingAwayDown']"  class="icon-down"></i>
                        <i v-if="matches_odds[item.matchId]['handicapHalf']['fluctuatingAwayUp']"  class="icon-up"></i>
                      </span>
                    </div>
                  </div>
                </td>
                <td v-if="matches_odds">
                  <div class="tr__row">
                    <div class="tr__col handicap.fluctuatingHandicap">
                      <span v-if="typeof matches_odds[item.matchId]['handicap'] != 'undefined'"></span>
                        <span v-if="matches_odds[item.matchId]['handicap']['fluctuatingHandicapUp']">
                          {{ item.homeName }} +{{ matches_odds[item.matchId]['handicap']['fluctuatingHandicap'] }}
                        </span>
                        <span v-if="!matches_odds[item.matchId]['handicap']['fluctuatingHandicapUp']">
                          -
                        </span>
                      </span>
                    </div>
                    <div class="tr__col handicapHalf.fluctuatingHandicapUp">
                      <span v-if="typeof matches_odds[item.matchId]['handicapHalf'] != 'undefined'">
                        <span v-if="matches_odds[item.matchId]['handicapHalf']['fluctuatingHandicapUp']">
                          {{ item.homeName }} +{{ matches_odds[item.matchId]['handicapHalf']['fluctuatingHandicap'] }}
                        </span>
                        <span v-if="!matches_odds[item.matchId]['handicapHalf']['fluctuatingHandicapUp']">
                          - 
                        </span>
                      </span>
                    </div>
                  </div>
                </td>
                <!-- Over Under -->
                <td v-if="matches_odds && typeof matches_odds[item.matchId]['overUnder'] != 'undefined'">
                  <div class="tr__row">
                    <div class="tr__col overUnder.instantHandicap">
                      {{ (typeof matches_odds[item.matchId]['overUnder'] == 'undefined') ? '-' : matches_odds[item.matchId]['overUnder']['instantHandicap'] }}
                    </div> 
                    <div class="tr__col overUnderHalf.instantHandicap">
                      {{ (typeof matches_odds[item.matchId]['overUnderHalf'] == 'undefined') ? '-' : matches_odds[item.matchId]['overUnderHalf']['instantHandicap'] }}
                    </div>
                  </div>
                </td>
                <td v-if="matches_odds && typeof matches_odds[item.matchId]['overUnder'] != 'undefined'">
                  <div class="tr__row h-50">
                    <div class="tr__col overUnder.instantOver">O 
                      {{ (typeof matches_odds[item.matchId]['overUnder'] == 'undefined') ? '-' : matches_odds[item.matchId]['overUnder']['instantOver'] }}
                    </div>
                    <div class="tr__col overUnder.instantUnder">U 
                      {{ (typeof matches_odds[item.matchId]['overUnder'] == 'undefined') ? '-' : matches_odds[item.matchId]['overUnder']['instantUnder'] }}
                    </div>
                  </div>
                  <div class="tr__row h-50">
                    <div class="tr__col overUnderHalf.instantOver">O 
                      {{ (typeof matches_odds[item.matchId]['overUnderHalf'] == 'undefined') ? '-' : matches_odds[item.matchId]['overUnderHalf']['instantOver'] }}
                    </div>
                    <div class="tr__col overUnderHalf.instantUnder">U 
                      {{ (typeof matches_odds[item.matchId]['overUnderHalf'] == 'undefined') ? '-' : matches_odds[item.matchId]['overUnderHalf']['instantUnder'] }}
                    </div>
                  </div>
                </td>
                <td v-if="matches_odds && typeof matches_odds[item.matchId]['overUnder'] != 'undefined'">
                  <div class="tr__row">
                    <div class="tr__col overUnder.initialHandicap">
                      {{ (typeof matches_odds[item.matchId]['overUnder'] == 'undefined') ? '-' : matches_odds[item.matchId]['overUnder']['initialHandicap'] }}
                    </div>
                    <div class="tr__col overUnderHalf.initialHandicap">
                      {{ (typeof matches_odds[item.matchId]['overUnderHalf'] == 'undefined') ? '-' : matches_odds[item.matchId]['overUnderHalf']['initialHandicap'] }}
                    </div>
                  </div>
                </td>
                <td v-if="matches_odds && typeof matches_odds[item.matchId]['overUnder'] != 'undefined'">
                  <div class="tr__row h-50">
                    <div class="tr__col overUnder.initialOver">O  
                      {{ (typeof matches_odds[item.matchId]['overUnder'] == 'undefined') ? '-' : matches_odds[item.matchId]['overUnder']['initialOver'] }}
                    </div>
                    <div class="tr__col overUnder.initialUnder">U  
                      {{ (typeof matches_odds[item.matchId]['overUnder'] == 'undefined') ? '-' : matches_odds[item.matchId]['overUnder']['initialUnder'] }}
                    </div>
                  </div>
                  <div class="tr__row h-50">
                    <div class="tr__col overUnderHalf.initialOver">O 
                      {{ (typeof matches_odds[item.matchId]['overUnderHalf'] == 'undefined') ? '-' : matches_odds[item.matchId]['overUnderHalf']['initialOver'] }}
                    </div>
                    <div class="tr__col overUnderHalf.initialUnder">U  
                      {{ (typeof matches_odds[item.matchId]['overUnderHalf'] == 'undefined') ? '-' : matches_odds[item.matchId]['overUnderHalf']['initialUnder'] }}
                    </div>
                  </div>
                </td>
                <td v-if="matches_odds && typeof matches_odds[item.matchId]['overUnder'] != 'undefined'">
                  <div class="tr__row">
                    <div class="tr__col el--up overUnder.initialHandicap - overUnder.instantHandicap">
                      <span v-if="typeof matches_odds[item.matchId]['overUnder'] != 'undefined'">
                        {{ matches_odds[item.matchId]['overUnder']['fluctuatingHandicap'] }}
                        <i v-if="matches_odds[item.matchId]['overUnder']['fluctuatingHandicapDown']"  class="icon-down"></i>
                        <i v-if="matches_odds[item.matchId]['overUnder']['fluctuatingHandicapUp']"  class="icon-up"></i>
                      </span>
                    </div>
                    <div class="tr__col overUnderHalf.initialHandicap - overUnderHalf.instantHandicap">
                      <span v-if="typeof matches_odds[item.matchId]['overUnderHalf'] != 'undefined'">
                        {{ matches_odds[item.matchId]['overUnderHalf']['fluctuatingHandicap'] }}
                        <i v-if="matches_odds[item.matchId]['overUnderHalf']['fluctuatingHandicapDown']"  class="icon-down"></i>
                        <i v-if="matches_odds[item.matchId]['overUnderHalf']['fluctuatingHandicapUp']"  class="icon-up"></i>
                      </span>
                    </div>
                  </div>
                </td>
                <td v-if="matches_odds && typeof matches_odds[item.matchId]['overUnder'] != 'undefined'">
                  <div class="tr__row h-50">
                    <div class="tr__col el--up overUnder.initialOver - overUnder.instantOver">O 
                      <span v-if="typeof matches_odds[item.matchId]['overUnder'] != 'undefined'">
                        {{ matches_odds[item.matchId]['overUnder']['fluctuatingOver'] }}
                        <i v-if="matches_odds[item.matchId]['overUnder']['fluctuatingOverDown']"  class="icon-down"></i>
                        <i v-if="matches_odds[item.matchId]['overUnder']['fluctuatingOverUp']"  class="icon-up"></i>
                      </span>
                    </div>
                    <div class="tr__col el--down overUnder.initialUnder - overUnder.instantUnder">U 
                      <span v-if="typeof matches_odds[item.matchId]['overUnder'] != 'undefined'">
                        {{ matches_odds[item.matchId]['overUnder']['fluctuatingUnder'] }}
                        <i v-if="matches_odds[item.matchId]['overUnder']['fluctuatingUnderDown']"  class="icon-down"></i>
                        <i v-if="matches_odds[item.matchId]['overUnder']['fluctuatingUnderUp']"  class="icon-up"></i>
                      </span>
                    </div>
                  </div>
                  <div class="tr__row h-50">
                    <div class="tr__col el--up overUnderHalf.initialOver - overUnderHalf.instantOver">O  
                      <span v-if="typeof matches_odds[item.matchId]['overUnderHalf'] != 'undefined'">
                        {{ matches_odds[item.matchId]['overUnderHalf']['fluctuatingOver'] }}
                        <i v-if="matches_odds[item.matchId]['overUnderHalf']['fluctuatingOverDown']"  class="icon-down"></i>
                        <i v-if="matches_odds[item.matchId]['overUnderHalf']['fluctuatingOverUp']"  class="icon-up"></i>
                      </span>
                    </div>
                    <div class="tr__col el--down overUnderHalf.initialUnder - overUnderHalf.instantUnder">U  
                      <span v-if="typeof matches_odds[item.matchId]['overUnderHalf'] != 'undefined'">
                        {{ matches_odds[item.matchId]['overUnderHalf']['fluctuatingUnder'] }}
                        <i v-if="matches_odds[item.matchId]['overUnderHalf']['fluctuatingUnderDown']"  class="icon-down"></i>
                        <i v-if="matches_odds[item.matchId]['overUnderHalf']['fluctuatingUnderUp']"  class="icon-up"></i>
                      </span>
                    </div>
                  </div>
                </td>
                <td v-if="matches_odds && typeof matches_odds[item.matchId]['overUnder'] != 'undefined'">
                  <div class="tr__row">
                    <div class="tr__col overUnder.fluctuatingHandicap">
                      <span v-if="typeof matches_odds[item.matchId]['overUnder'] != 'undefined'"></span>
                        <span v-if="matches_odds[item.matchId]['overUnder']['fluctuatingHandicapUp']">
                          Over +{{ matches_odds[item.matchId]['overUnder']['fluctuatingHandicap'] }}
                        </span>
                        <span v-if="!matches_odds[item.matchId]['overUnder']['fluctuatingHandicapUp']">
                          -
                        </span>
                      </span>
                    </div>
                    <div class="tr__col overUnderHalf.fluctuatingHandicap">
                      <span v-if="typeof matches_odds[item.matchId]['overUnderHalf'] != 'undefined'">
                        <span v-if="matches_odds[item.matchId]['overUnderHalf']['fluctuatingHandicapUp']">
                          Over +{{ matches_odds[item.matchId]['overUnderHalf']['fluctuatingHandicap'] }}
                        </span>
                        <span v-if="!matches_odds[item.matchId]['overUnderHalf']['fluctuatingHandicapUp']">
                          -
                        </span>
                      </span>
                    </div>
                  </div>
                </td>
                <td class="td-viewfull"><a href="detail.html" class="el--view">View<i class="icon-view"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script type="text/javascript">
		
      var app_odds = new Vue({
        el: '#app_odds',
        data: {
          isRunning  				: false,
          isRunSchedule 			: false,
          isRunningOdds  			: false,
          isRunningScore  		: false,
          isRunningEuropeanHalf   : false,
          canRunningEuropeanHalf   : false,
          items 			: null,
          matchIds 		: null,
          matches 		: null,
          leagues 		: null,
          matches_odds 	: null,
          matches_european_half_odds 	: null,
          label_dates : [],
          filter_leagues : [],
          options : '',
          api_url : 'http://localhost/PHP/caothu/api/',
          f_date : '',
          f_handicap : '',
          f_overunder : '',
          f_model : '',
        },
        methods: {
          get_matches(){
            this.isRunning = true;
            
            axios
            .get(this.api_url + '?c=Schedule'+this.options)
            .then( response => {
              this.isRunning = false;
              this.matchIds = response.data.matchIds;
              this.matches = response.data.matches;
              this.leagues = response.data.leagues;
              
              this.get_matches_odds();
            });
          },
          get_matches_odds(){
            this.isRunning = true;
            axios
            .get(this.api_url + '?c=Odds&matchIds='+this.matchIds+this.options)
            .then( response => {
              this.matches_odds = response.data.items;
              //this.get_matches_odds_european_half();
              //update get_matches_odds_european_half 
              this.canRunningEuropeanHalf = true;
              this.isRunning = false;
            });
          },
          get_next_days(){
            var startDay = new Date();
            //var thisDay = new Date();
            for(var i=0; i<4; i++) {
              let the_date = new Date( Date.now() + i * 24 * 60 * 60 * 1000)
              let dd = String(the_date.getDate()).padStart(2, '0');
              let mm = String(the_date.getMonth() + 1).padStart(2, '0'); //January is 0!
              let yyyy = the_date.getFullYear();
  
              let format_date = dd + '/' + mm;
              let filter_date = yyyy + '-' + mm + '-' + dd;
              let label_date = {
                'label': (i == 0) ? 'Hôm nay' : (i == 1) ? 'Ngày mai' : format_date,
                'checked': (i == 0) ? true : false,
                'format_date' : format_date,
                'filter_date' : filter_date,
              };
              this.label_dates.push( label_date );
            }
          },
          app_filter_date(date){
            this.f_date = date;
            this.do_filter();
          },
          app_filter_handicap(value){
            this.f_handicap = value;
            //this.do_filter();
          },
          app_filter_overunder(value){
            this.f_overunder = value;
            //this.do_filter();
          },
          app_filter_model(value){
            this.f_model = value;
          },
          do_filter(){
            this.options = '&date='+this.f_date+'&handicap='+this.f_handicap+'&overunder='+this.f_overunder;
            this.live_matches = null;
            this.live_matchIds = null;
            this.matchIds 		= null,
            this.matches 		= null,
            this.get_matches();
          },
          checkShowMatch(item,matches_odds){
            var flag = false;
            var handicap = false;
            var overUnder = false;

            if( this.f_handicap == '' && this.f_overunder == '' ){
              return true;
            }
            if( this.f_handicap == ''){
              handicap = true;
            }
            if( this.f_overunder == ''){
              overUnder = true;
            }

            if( matches_odds && typeof matches_odds[item.matchId] == 'object' ){
              if( typeof matches_odds[item.matchId]['handicap'] != 'undefined' && this.f_handicap != '' && this.f_model != 'ht'){
                if( this.f_handicap <= matches_odds[item.matchId]['handicap']['fluctuatingHandicap'] ){
                  handicap = true
                }
              }
              if( typeof matches_odds[item.matchId]['handicapHalf'] != 'undefined' && this.f_handicap != ''  && this.f_model != 'ft'){
                if( this.f_handicap <= matches_odds[item.matchId]['handicapHalf']['fluctuatingHandicap'] ){
                  handicap = true
                }
              }

              if( typeof matches_odds[item.matchId]['overUnder'] != 'undefined' && this.f_overunder != ''  && this.f_model != 'ht'){
                if( this.f_overunder <= matches_odds[item.matchId]['overUnder']['fluctuatingHandicap'] ){
                  overUnder = true
                }
              }
              if( typeof matches_odds[item.matchId]['overUnderHalf'] != 'undefined' && this.f_overunder != ''  && this.f_model != 'ft'){
                if( this.f_overunder <= matches_odds[item.matchId]['overUnderHalf']['fluctuatingHandicap'] ){
                  overUnder = true
                }
              }

              flag = handicap && overUnder
            }else{
              flag = false
            }
            return flag;
          }
        },
        created() {
        
        },
        mounted () {
          this.get_matches();
          this.get_next_days();
        },
        beforeUpdate() {
        }
      });
    </script>
  </body>
</html>